.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 15px;
  & button {
    padding: 10px 15px;
  }
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
input {
  font-family: inherit;
  text-indent: 5px;
  padding: 8px;
  font-size: inherit;
}
